<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>servlets.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemovePhoneServlet</servlet-name>
    <servlet-class>servlets.RemovePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovePhoneServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPhoneServlet</servlet-name>
    <servlet-class>servlets.AddPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoneServlet</servlet-name>
    <url-pattern>/addphone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPhoneServlet</servlet-name>
    <servlet-class>servlets.ViewPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhoneServlet</servlet-name>
    <url-pattern>/viewphone</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ViewUsersServlet</servlet-name>
    <servlet-class>servlets.ViewUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsersServlet</servlet-name>
    <url-pattern>/viewusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyPhoneServlet</servlet-name>
    <servlet-class>servlets.BuyPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyPhoneServlet</servlet-name>
    <url-pattern>/buyphone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>servlets.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/buys</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>servlets.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>